/************* HEAD *************/

header {
    font-family: "Nobile";
    text-decoration-color: black;
    
    min-height: 5vw;
    max-height: 20px;
    
    background-color: #262254;
    box-shadow: inset; 
    box-shadow: 3px 5px 4px rgb(81, 78, 78);
    text-align: left;
    padding: 5%;
    
    margin: auto;
    
    border-bottom: 1vw;
    
}

#topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titulo{
    font-size: 3vw;
    margin-right: 150px;
    color: green;
}

#topo a{
    margin: 20px;
    text-decoration: none;
    font-size: 2vw;
    color: black;
   
}


/************* BODY *************/

body {
    background-color: #542884;
    font-family: "Nobile";
    font-size: 20px;
    margin:0;
}

.subtitulo{
    color: green;
}

/* APRESENTACAO */

#comeco{
    background-color:#9477C7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#imagem{
    border-radius: 360px;
    width: 300px;
    height: 300px;
    margin: 2em;
}

#apresentacao{
    width: 30em;
    text-align: justify;
    margin: 8px;
}

/* LISTAS */

.listas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 50px;
}

.subHobbies {
    text-align: end;
}

.categorias div{
    gap: 15px;
}

.box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 8px;
    
}

.box p{
    width: 100px;
    height: 50px;
    background-color: #FFA45E;
    font-size: 15px;

    padding-top: 100px;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    border-radius: 10px;
    list-style-type: none;
    text-align: center;
    line-height: auto;
}

.h p{
    background-color: #A13670;
}
.subHobbies{
    color: #A13670;
}
.subTops{
    color:#FFA45E;
}

.blocos > div{
    margin: 0 25px;
}


/************* FOOTER *************/

footer{
    background-color: #262254;
    margin:0;
    height: 100px;
    max-height: 100px;
    margin: 0;
    display: flex;
    align-items:center;
    flex-wrap: wrap;
}
.rodape{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin-left: 30px;
}

#icon_git{
    width: 60px;
    height: 60px;
    margin: 0 10px 0 10px;
}

#icon_home{
    width: 50px;
    height: 50px;
    margin: 0 10px 0 10px;
}

#botao{
    text-align: end;
    background-color: green;
    font-size: 15px;
    border-radius: 10px;
    margin-left: 30vw;
    margin-right: 10vw;
    cursor: pointer;
}


@media (max-width:1300px) {
    .subHobbies {
        text-align: start;
    }
    
}